* {
    padding: 0;
    margin: 0;
    font-family: 'poppins, sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
}

.box {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    background-color: #222;
    text-decoration: none;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding-left: 40px;
    transition: .5s;
}

.box:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: #fff;
}

.box span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.box:hover span {
    left: calc(100% - 55px);
}

.box>span>i {
    transition: .5s ease-in-out;
}

.box:hover>span>i {
    transform: rotate(180deg);
}

.preview-dark {
    background-color: #444;
    color: #fff;
}

.preview-light {
    background-color: #ccc;
    color: #000;
}

.dark {
    background-color: #222;
    color: #fff
}

.light {
    background-color: #eee;
    color: #000
}